:root {
    --darkBlue: #173F5F;
    --lightBlue: #20639b;
    --cyan: #3CAEA3;
    --gold: #F6D55C;
    --orangeLight: #ed553b;
    --orangeDark: #ee3615;
    --whitish: #F5F5F5;
}



.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 400px;
    height: 500px;
    box-shadow: 0 0 15px 1px var(--darkBlue);
}

.content-header {
    height: 100px;
    background-color: var(--lightBlue);
    text-align: center;
    padding: 15px 25px;
}

.h1 {
    font-size: 54px;
    font-weight: 700;
    color:var(--whitish);
    text-shadow: 1px 1px #000;
}

.content-body {
    height: 300px;
    padding: 25px;
    border-bottom: 1px solid black;
}

.body-inner {
    overflow: hidden;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 25px;
}

.footer-btn {
    padding: 15px;
    background-color: var(--lightBlue);
    color: var(--whitish);
    border: 1px solid black;
    transition: 0.3s;
}

.footer-btn:hover {
    background-color: var(--orangeLight);
    transform: translateY(1px);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.footer-btn:active {
    background-color: var(--orangeDark);
}

.footer-btn--big {
    width: 150px;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: var(--cyan);
}

.footer-btn--big:hover {
    font-size: 30px;
    line-height: 30px;
}