.chat-msg {
    display: flex;
    align-items: baseline;
    column-gap: 8px;
    margin-bottom: 10px;
}

.chat-msg--whisper {
    background-color: lightpink;
}

.chat-msg__timestamp {
    flex-shrink: 0;
    opacity: 0.8;
}

.chat-msg__user {
    flex-shrink: 0;
    font-weight: 600;
}

.chat-msg__text {
    word-break: break-all;
}