.chat-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 200px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    background-color: var(--whitish);
    padding: 15px;
}

.chat-heading{
    height: 50px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--orangeDark);
    padding-bottom: 15px;
}

.h1{
    font-size: 50px;
    color: var(--whitish);
    text-shadow: 1px 1px #000;
}

.h2{
    text-align: center;
}

.chat-main{
    height: calc(100% - 50px - 75px);
    flex-grow: 1;
    padding-top: 15px;
    position: relative;
}

.chat-main::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background: var(--whitish);
    background: linear-gradient(0deg, var(--whitish) 15%, transparent 100%);
}

.chat-main__inner{
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--whitish) var(--lightBlue);
    scrollbar-gutter: stable;
}

.chat-main__inner::-webkit-scrollbar{
  width: 6px;
}

.chat-main__inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--lightBlue);
}

.chat-main__inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: var(--whitish);
}

.chat-controls{
    flex-shrink: 0;
    padding-top: 15px;
    border-top: 1px solid var(--orangeDark);
    column-gap: 30px;
    display: flex;
    justify-content: space-between;
}

.chat-controls__textarea {
    position: relative;
    flex-grow: 1;
    display: block;
    height: 60px;
    border: 1px solid var(--darkBlue);
}

.textarea__input {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px;
}

.textarea__input::placeholder{
    font-family: inherit;
    font-size: 16px;
    color: #b0b0b0;
}

.textarea__input:focus {
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}

.textarea__counter {
    display: none;
    background-color: inherit;
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    position: absolute;
    bottom: calc(0% + 5px);
    right: calc(0% + 5px)
}

.textarea__input:focus + .textarea__counter {
    display: block;
}

.chat-controls__btn{
    flex-shrink: 0;
    padding-inline: 60px;
    height: 60px;
    background-color: var(--lightBlue);
    font-size: 20px;
    text-transform: uppercase;
    color: var(--whitish);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.4s;
}

.chat-controls__btn:hover {
    background-color: var(--orangeLight);
    transform: translateY(1px);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.chat-controls__btn:active {
    background-color: var(--orangeDark);
}

@media (max-width: 991px) {
    .chat-wrapper {
        padding: 10px;
    }

    .chat-heading {
        height: auto;
        padding-bottom: 10px;
    }

    .h2 {
        font-size: 20px;
    }

    .chat-main {
        padding-top: 10px;
        height: calc(100% - 10px - 10px - 37px - 71px);
    }

    .chat-controls {
        padding-top: 10px;
        column-gap: 5px;
    }

    .chat-controls__btn{
        padding-inline: 10px;
        height: 40px;
        font-size: 14px;
        align-self: center;
    }

    .textarea__input::placeholder{
        font-family: inherit;
        font-size: 14px;
    }

}