.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 100%;
    height: 100%;
}

.row-1 {
    height: 355px;
    margin: 0 auto;
}

.row-2 {
    height: calc(100% - 50px - 355px);
    margin: 0 auto;
}