:root{
    --darkBlue: #173F5F;
    --lightBlue: #20639b;
    --cyan: #3CAEA3;
    --gold: #F6D55C;
    --orangeLight: #ed553b;
    --orangeDark: #ee3615;
    --whitish: #F5F5F5;
}

.page-wrapper, .hub-wrapper{
    display: flex;
    flex-direction: column;
}

.page-wrapper{
    height: 100vh;
    min-height: 800px;
}

.page-heading{
    height: 130px;
    flex-shrink: 0;
    background-image: linear-gradient(var(--gold),  var(--orangeLight));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
}

.h1{
    font-size: 50px;
    color: var(--whitish);
    text-shadow: 1px 1px #000;
}

.h2{
    text-align: center;
}

.page-heading input {
    background-color: var(--whitish);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #173F5F;
    color: var(--whitish);
    font-size: 64px;
    line-height: 60px;
    transform: rotate(45deg);
    transition: 0.3s;
}

.page-heading input:hover {
    color: var(--gold);
    transform: rotate(135deg);
}

.page-body{
    display: flex;
    flex-grow: 1;
    padding: 50px;
    background-color: var(--darkBlue);
    column-gap: 50px;
}

.hub-heading::after, .hub-main::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--orangeLight);
    bottom: 0;
    right: 15px;
    left: 15px;
}

.hub-wrapper{
    background-color: var(--lightBlue);
    width: 30%;
}

.hub-heading{
    flex-shrink: 0;
    background-color: var(--whitish);
    padding: 10px 0;
    position: relative;
}

.hub-main{
    flex-grow: 1;
    background-color: var(--whitish);
    position: relative;
}

.hub-controls{
    flex-shrink: 0;
    background-color: var(--whitish);
    padding: 15px;
    column-gap: 30px;
    display: flex;
    justify-content: space-between;
}

.hub-controls input {
    height: 60px;
    padding-inline: 15px;
    flex-grow: 1;
    background-color: var(--lightBlue);
    font-size: 24px;
    text-transform: uppercase;
    color: var(--whitish);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: 0.4s;
}

.hub-controls input:hover {
    background-color: var(--orangeLight);
    transform: translateY(1px);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.hub-controls input:active {
    background-color: var(--orangeDark);
}