.page-wrapper{
    border: 1px solid red;
}
.page-heading{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.page-body{
    display: flex;
}

.chat-wrapper{
    width: 70%;
}
.chat-heading{}
.chat-main{}
.chat-msg{
    display: flex;
}
.chat-controls{
    border: 1px solid purple;
}

.hub-wrapper{
    width: 30%;
}
.hub-heading{}
.hub-main{}
.hub-controls{}



/* .hub-wrapper { 
    min-width: 600px; 
    min-height: 350px; 
    background-color: gray; 
    padding: 50px;
}

.hub-list { 
    min-width: 300px;
    min-height: 200px; 
    background-color: white; 
}

.hub-controls {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
} */