*, *::before, *::after{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 18px;
  color: black;
  line-height: 1.3;
}

h1,h2,h3,h4,h5,h6, p, ul, input, button {
  padding: 0;
  margin: 0;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

input, button, textarea {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  display: inline-block;
}

textarea{
  cursor: default;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}




